/* reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







/* style */

.navbar {
	width: 100%;
	position: fixed;
	margin-left: -10%;
	z-index: 9999;
}

body {
	background-color: #d6d6d6;
	max-width: 80%;
	margin: auto;
}

.jumbotron {
	background-image: url(img/frontend-dev.jpg);
	background-size: cover;
	min-height: 50vh;
	/* background-position: 0 -50px; */
	background-repeat: no-repeat;
	position: relative;

}

.jumbotron .display-4 {
	font-size: 5vmax;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	padding: 50px 0 20px 0;
	margin-top: 150px;
}

.jumbotron .lead {
	font-size: 2vmax;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.about .card-header h3{
	font-size: 4vh;
	font-weight: bold;
	text-align: center;
	padding: 0;
	color: white;
	margin: 0;
}

.about p{
	font-size: 3vh;
	color: white;
	margin-top: 70px;
	margin-bottom: 50px;
}

.about h3 p{
	display: inline-block;
}

section .about{
	position: absolute;
	box-sizing: border-box;
}

.skills .card{
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.skills h3 {
	font-size: 4vh;
}

h3{
	display:flex;
	margin-top: 30px;
	margin-bottom: 20px;
	justify-content: center;
	font-size: 4vh;
}

.about {
	position: relative;
}

.about h3{
	margin-right: 50%;
	color: white;
	position: absolute;
}

span {
	border: 1px solid rgb(180, 178, 178);
	width: 60%;
}

.container .skills{
	position: relative;
}

.experiences{
	background-color: rgb(0, 26, 255,0.4);
}

.hob1,
.hob2,
.hob3 {
	margin-right: 20px;
	text-align: center;
}

footer {
	max-width: 80%;
}

.puremedia {
	color: white;
	font-weight: bold;
}

.container #profil {
	position: absolute;
	width: 170px;
	margin-top: -120px;
	margin-left: 37%;
}



 
































/* clear */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
	 content: " "; /* 1 */
	 display: table; /* 2 */
 }
 
 .cf:after {
	 clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
	 *zoom: 1;
 }
